# Игнорируем виртуальное окружение Python
venv/

# Игнорируем временные файлы Python
__pycache__/
*.pyc

# Игнорируем ВСЮ папку с исходниками API сервера.
# Установщик скачает ее сам.
telegram-bot-api/

# Можно добавить и другие файлы/папки, если они есть
.idea/
