# .gitignore

# Игнорируем виртуальное окружение Python
venv/
env/

# Игнорируем временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем папки IDE
.idea/

# САМОЕ ВАЖНОЕ: Файл с секретами НИКОГДА не должен быть в репозитории
.env
